<h4>True type font dpi settings</h4>

<form method="post">
	<f:render partial="ControllerAction/Common/HiddenFormFields" arguments="{_all}" />
	<f:if condition="{trueTypeFontDpiTested}">
		<f:then>
			<p>
				If the text is exceeding the image borders you are using
				Freetype 2 and need to set TYPO3_CONF_VARS[GFX][TTFdpi]=96.
			</p>
			<img src="../../../../typo3temp/installTool-createTrueTypeFontDpiTestImage.gif" />
			<fieldset class="t3-install-form-submit">
				<ol>
					<li>
						<button
							type="submit"
							name="install[set][testTrueTypeFontDpi]"
						>
							Test true type font dpi again
							<span class="t3-install-form-button-icon-positive">&nbsp;</span>
						</button>
					</li>
				</ol>
			</fieldset>
		</f:then>
		<f:else>
			<fieldset class="t3-install-form-submit">
				<ol>
					<li>
						<button
							type="submit"
							name="install[set][testTrueTypeFontDpi]"
						>
							Test true type font dpi
							<span class="t3-install-form-button-icon-positive">&nbsp;</span>
						</button>
					</li>
				</ol>
			</fieldset>
		</f:else>
	</f:if>
</form>