[submodule "typo3/sysext/extbase"]
	path = typo3/sysext/extbase
	url = git://git.typo3.org/TYPO3v4/CoreProjects/MVC/extbase.git
[submodule "typo3/sysext/linkvalidator"]
	path = typo3/sysext/linkvalidator
	url = git://git.typo3.org/TYPO3v4/Extensions/linkvalidator.git
