<div id="t3-install-left">
	<ol id="t3-install-menu">
		<li id="t3-install-menu-welcome" class="{f:if(condition:'{action} == \'welcome\'', then:'act')}">
			<a href="InstallTool.php?install[action]=welcome">
				Welcome
			</a>
		</li>
		<li id="t3-install-menu-systemEnvironment" class="{f:if(condition:'{action} == \'systemEnvironment\'', then:'act')}">
			<a href="InstallTool.php?install[action]=systemEnvironment">
				System environment
			</a>
		</li>
		<li id="t3-install-menu-logout">
			<a href="InstallTool.php?install[action]=logout">
				Logout from Install Tool
			</a>
		</li>
	</ol>
	<ol id="t3-install-links">
		<li>
			<a href="../../../index.php">Backend admin</a>
		</li>
		<li>
			<a href="../../../../index.php">Frontend website</a>
		</li>
	</ol>
</div>