{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="InstallToolAuthenticated" />

<f:section name="Content">
	<h3>Important actions</h3>

	<f:for each="{actionMessages}" as="statusMessage">
		<i:statusMessage message="{statusMessage}" />
	</f:for>

	<f:render partial="ControllerAction/ImportantActions/SystemInformation" arguments="{_all}" />
	<hr />

	<f:if condition="{databaseAnalyzerSuggestion}">
		<f:then>
			<f:render partial="ControllerAction/ImportantActions/DatabaseAnalyzerData" arguments="{_all}"/>
		</f:then>
		<f:else>
			<f:render partial="ControllerAction/ImportantActions/DatabaseAnalyzerButton" arguments="{_all}"/>
		</f:else>
	</f:if>
	<hr />

	<f:render partial="ControllerAction/ImportantActions/NewInstallToolPassword" arguments="{_all}"/>
	<hr />

	<f:render partial="ControllerAction/ImportantActions/ChangeSiteName" arguments="{_all}"/>
	<hr />

	<f:render partial="ControllerAction/ImportantActions/SetNewEncryptionKey" arguments="{_all}"/>
	<hr />

	<f:render partial="ControllerAction/ImportantActions/CreateAdministrator" arguments="{_all}"/>
</f:section>