{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="InstallToolAuthenticated" />

<f:section name="Content">
	<h3>Test system settings</h3>

	<f:for each="{actionMessages}" as="statusMessage">
		<i:statusMessage message="{statusMessage}" />
	</f:for>

	<f:render partial="ControllerAction/TestSetup/Mail" arguments="{_all}" />
	<hr />

	<f:render partial="ControllerAction/TestSetup/TrueTypeFontDpi" arguments="{_all}" />
	<hr />

	<f:render partial="ControllerAction/TestSetup/ConvertImageFormatsToJpg" arguments="{_all}" />
	<hr />

	<f:render partial="ControllerAction/TestSetup/WriteGifAndPng" arguments="{_all}" />
	<hr />

	<f:render partial="ControllerAction/TestSetup/ScalingImages" arguments="{_all}" />
	<hr />

</f:section>