<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="../gfx/favicon.ico" />
		<title>Installing TYPO3</title>
		<link rel="stylesheet" type="text/css" href="../sysext/install/Resources/Public/Stylesheets/StepInstaller/Main.css" />
	</head>

	<body>
		<div id="t3-install-outer">
			<h1></h1>
			<div id="t3-install-box-border-top">&nbsp;</div>
			<h2>###BODY_TITLE###</h2>
			<div id="t3-install-box-body">
				###CONTENT###
			</div>
			<div id="t3-install-box-border-bottom">&nbsp;</div>
			<div id="t3-install-copyright">
				###COPYRIGHT###
			</div>
		</div>
	</body>
</html>