<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Setup General</title>
	</head>
	<body>
		<!-- ###TEMPLATE### begin -->
		<form action="###ACTIONURL###" method="post">
			<!-- ###REGULARMODE### begin -->
			<fieldset>
				<ol>
					<li>
						<label for="t3-install-form-sitename">###LABELSITENAME###</label>
						<input id="t3-install-form-sitename" type="text" name="config[sitename]" value="###SITENAME###" class="t3-install-form-input-text" />
					</li>
				</ol>
			</fieldset>
			<fieldset>
				<ol>
					<li>
						<label for="t3-install-form-encryptionkey">###LABELENCRYPTIONKEY###</label>
						<span>
							<input id="t3-install-form-encryptionkey" type="text" name="config[encryptionKey]" value="###ENCRYPTIONKEY###" class="t3-install-form-input-text" />
							<br />
							<button type="button" id="encryptionKey">###LABELGENERATERANDOMKEY###<span class="t3-install-form-button-icon-positive">&nbsp;</span></button>
						</span>
					</li>
				</ol>
			</fieldset>
			<!-- ###REGULARMODE### end -->
			<fieldset class="t3-install-form-submit">
				<ol>
					<li>
						<button type="submit">
							###LABELUPDATELOCALCONF###
							<span class="t3-install-form-button-icon-positive">&nbsp;</span>
						</button>
					</li>
					<li>
						<strong>###LABELNOTICE###</strong>
						###LABELCOMMENTUPDATELOCALCONF###
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- ###TEMPLATE### begin -->
	</body>
</html>
