<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Template: Update wizard parts</title>
	</head>
	<body>


		<!-- ###GETUSERINPUT### begin -->
		<form action="###ACTION####t3-install-bottom" method="post">
			<fieldset class="t3-install-hidden">
				<ol>
					<li>
						<input type="hidden" value="performUpdate" name="TYPO3_INSTALL[database_type]" />
					</li>
				</ol>
			</fieldset>
			<p>
				<strong>
					###INTRODUCTION###
				</strong>
			</p>

			<!-- ###UPDATESAVAILABLE### begin -->
			<fieldset>
				<ol>
					<li class="t3-install-hidden">
						<input type="hidden" name="TYPO3_INSTALL[update][extList][]" value="###IDENTIFIER###" />
					</li>
				</ol>
			</fieldset>
			<h4>###TITLE###</h4>
			###IDENTIFIERMETHOD###
			<!-- ###UPDATESAVAILABLE### end -->

			<fieldset>
				<ol>
					<li class="t3-install-form-label-after">
						<input id="t3-install-showdatabasequeries" type="checkbox" name="TYPO3_INSTALL[update][showDatabaseQueries]" value="1" />
						<label for="t3-install-showdatabasequeries">###SHOWDATABASEQUERIES###</label>
					</li>
				</ol>
			</fieldset>
			<fieldset class="t3-install-form-submit">
				<ol>
					<li>
						<button type="submit">
							###PERFORMUPDATES###
							<span class="t3-install-form-button-icon-positive">&nbsp;</span>
						</button>
					</li>
				</ol>
			</fieldset>
		</form>
		<!-- ###GETUSERINPUT### end -->


		<!-- ###PERFORMUPDATE### begin -->

			<!-- ###UPDATEITEMS### begin -->
			<p class="innerWidth">
				<strong>
					###TITLE###
				</strong>
			</p>
				<!-- ###CHECKUSERINPUT### begin -->
				###CUSTOMOUTPUT###
				<br />
				<br />
				<a href="javascript:history.back()">
					###GOBACK###
				</a>
				<!-- ###CHECKUSERINPUT### end -->
				<!-- ###UPDATEPERFORMED### begin -->
				<strong>
					###UPDATESTATUS###
				</strong>
				<!-- ###DATABASEQUERIES### begin -->
				<br />
				###QUERY###
				<!-- ###DATABASEQUERIES### end -->
				
				<!-- ###CUSTOMOUTPUT### begin -->
				<br />
				###CUSTOM###
				<!-- ###CUSTOMOUTPUT### end -->
				
				<!-- ###UPDATEPERFORMED### end -->
				<!-- ###NOPERFORMUPDATE### begin -->
				<strong>
					###NOUPDATEMETHOD###
				</strong>
				<!-- ###NOPERFORMUPDATE### end -->
			<!-- ###UPDATEITEMS### end -->


			<!-- ###NEXTUPDATEWIZARD### begin -->
			<br /><br /><br /><hr />
			<form action="index.php?TYPO3_INSTALL[type]=update" method="post">
				<fieldset class="t3-install-hidden">
					<ol>
						<li>
							<input name="TYPO3_INSTALL[database_type]" value="getUserInput" type="hidden">
						</li>
					</ol>
				</fieldset>
				<fieldset class="t3-install-form-submit">
					<ol>
						<li>
							<button type="submit" name="TYPO3_INSTALL[update][###NEXTIDENTIFIER###]">
								Go to the next update wizard.
							</button>
						</li>
					</ol>
				</fieldset>
			</form>
			<!-- ###NEXTUPDATEWIZARD### end -->


		<!-- ###PERFORMUPDATE### end -->
	</body>
</html>