{namespace i=TYPO3\CMS\Install\ViewHelpers}

<f:layout name="InstallToolAuthenticated" />

<f:section name="Content">
	<h3>Update wizard</h3>

	<f:for each="{actionMessages}" as="statusMessage">
		<i:statusMessage message="{statusMessage}" />
	</f:for>


	<f:if condition="{updateAction} == 'listUpdates'">
		<f:render partial="ToolAction/UpdateWizard/ListUpdates" arguments="{_all}" />
	</f:if>

	<f:if condition="{updateAction} == 'getUserInput'">
		<f:render partial="ToolAction/UpdateWizard/GetUserInput" arguments="{_all}" />
	</f:if>

	<f:if condition="{updateAction} == 'performUpdate'">
		<f:render partial="ToolAction/UpdateWizard/PerformUpdate" arguments="{_all}" />
	</f:if>

</f:section>