<f:if condition="{context} == 'backend'">
	<f:then>
		<!DOCTYPE html>
		<html>
			<head>
				<title>Install tool login</title>
				<f:render partial="ControllerAction/StandardHeaders" arguments="{_all}" />
				<link rel="stylesheet" type="text/css" href="../../../sysext/t3skin/stylesheets/visual/element_docheader.css?{time}" />
				<link rel="stylesheet" type="text/css" href="../../../sysext/t3skin/stylesheets/structure/element_docheader.css?{time}" />
			</head>
			<body>
				<div id="typo3-docheader">
					<div class="typo3-docheader-functions"></div>
					<div class="typo3-docheader-buttons"></div>
				</div>
				<div id="typo3-docbody">
					<div id="typo3-inner-docbody">
						<div id="t3-install-outer" class="t3-install-login">
							<f:render section="Content" />
						</div>
					</div>
				</div>
			</body>
		</html>
	</f:then>
	<f:else>
		<!DOCTYPE html>
		<html>
			<head>
				<title>Install tool login</title>
				<f:render partial="ControllerAction/StandardHeaders" arguments="{_all}" />
			</head>
			<body>
				<div id="t3-install-outer" class="t3-install-login">
					<f:render section="Content" />
				</div>
			</body>
		</html>
	</f:else>
</f:if>